* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
}

.background {
  width: 70vw;
  max-width: 1250px;
  height: 100vh;
  background-image: url('./posters.png');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.home {
  background-color: aliceblue;
  width: 70%;
  text-align: center;
  border-radius: 15px;
}

.home > * {
  margin: 50px;
}

.home > h1 {
  font-size: 50px;
  background: #6E227D;
  background: linear-gradient(to right, #6E227D 30%, #0910BA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}


.home > .description {
  padding-top: 35px;
  font-size: 35px;
  color: #0910BA;
  font-weight: 300;
}

.home > button {
  padding: 5px 30px;
  background-color: #010322;
  font-size: 35px;
  color: aliceblue;
  border-radius: 10px;
}

.quiz {
  background-color: rgba(240, 248, 255, 0.871);
  width: 100%;
}

.quizObject {
  margin: 30px;
}

.question {
  font-size: 25px;
  font-weight: 600;
}

.answers {
  margin-top: 15px;
  display: flex;
  gap: 30px;
  text-align: center;
  align-items: center;
  justify-content: space-around;
}

.answer {
  border: 1px gainsboro solid;
  background-color: white;
  padding: 5px 15px;
  border-radius: 10px;
  width: max-content;
  height: min-content;
  cursor: grab;
}

.answer:hover {
  background-color: gray;
}


.checkBtn {
  font-size: 20px;
  display: block;
  margin: 50px auto;
  padding: 10px 20px;
  background-color: #010322;
  color: white;
  font-weight: 450;
  border-radius: 10px;
  border: none;
}


.results {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 30px;
}

#score {
  font-weight: 550;
}

.results > button {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: #010322;
  font-weight: 500;
  font-size: 20px;
}


button:hover{
  background-color: #090fbad0;
  cursor: grab;
}

#gif {
  width: 150px;
  display: block;
  margin: 80px auto;
}